// Bouton accordéon custom
.accordion-button {
  &:not(.collapsed) {
    background-color: $primary;
    color: white;
  }

  &:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
  }

  &::after {
    filter: brightness(0) invert(1); // Icône blanche
  }
}

.accordion-item {
  border-radius: 0.375rem;
  overflow: hidden;
}
