// Bootstrap core
@import "bootstrap/scss/functions";
@import "config/variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

// Icons
@import "bootstrap-icons/font/bootstrap-icons";

// Pages
@import "pages/inventory";
@import "pages/navbar";

// Components
@import "components/text";
@import "components/accordion";
